*{
   box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    /* position: relative; */
}
header{
    top: 0px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #42B0A3;
    font-size: 20;
    font-weight: 300;
}


h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    letter-spacing: .2px;
    line-height: 1.3;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    color: #42B0A3;
    /* color:#808080; */
}
h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color:#808080;
    font-weight: 300;
    margin: 0%;
}
h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color:#0065B3;
    margin: 0%;
}
h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color:#0065B3;
    font-weight: 300;
    margin: 0%;
    text-align: center;
}
.h7{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
    color:#42B0A3;
    /* font-weight: 300; */
}

.navbar{
    width: 100%;
    margin-top: auto;
    /* min-height: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    color: #42B0A3;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    padding-right: 15%;
    padding-left: 15%;
}

.navbar a {
    text-decoration: none;
    color: #42B0A3;
}

.brand-title{
    font-size: 3rem;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: #42B0A3;
}

.navbar-links ul{
    margin: 0;
    padding: 0%;
    display: flex;
}

.navbar-links li{
    list-style: none;
    font-size: 1.3rem;
}

.navbar-links li a {
    text-decoration: none;
    color: #42B0A3;
    padding: 1rem;
    display: block;
}

.navbar-links li :hover{
    background-color:#42B0A3;
    color: white;
}

.toggle-button{
    position: absolute;
    top: .75 rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color:gray;
    border-radius: 10px;

}

.home-container{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    height:fit-content;
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
    /* margin: 0; */
}
.home_pic{
    display: flex; 
    align-items: flex-end;
}
.engineer{
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    /* margin: auto; */
}

.logos_contact{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2.2%;
    width:150px;
    margin: auto;
    align-self: center;
}
.logo_contact{
    padding: 3%;
    margin: auto;
}

.responsive {
    width: 100%;
    height: auto;
}

.container{
    padding-top: 12%;
    padding: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.show-box{
    background-color: #FAFAFA;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:space-around;
}

.foto-site{
    width: 49%;
    margin: 5px;
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
}

.title{
    color: #42B0A3;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    width: 49%;
    margin: 5px;
    align-self: center;
}

.button {
    border: none;
    color: #42B0A3;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
  }
  
.button1 {
    background-color:#FAFAFA; 
    color: #42B0A3; 
    font-weight: 300;
    border: 2px solid #42B0A3;
}
  
.button1:hover {
    background-color: #42B0A3;
    color: white;
}
.boton{
    margin: auto;
}

.tecnologies{
    width: 250px;
    height: auto;
    align-self: end;
}

.cs-banner{
    background-image:url("img/boa_banner.png") ;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:space-around;

}
.cs_content_one{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
.cs-two_sections{
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:space-around;
}

.cs_process_title{
    background-color:#DBEFF3;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height:fit-content;
    /* padding-top: 1%;
    padding-bottom: 1%; */
    padding:1%;
    /* padding-left: 20%;
    padding-right: 20%; */
}
.post_its{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding-left: 15%;
    padding-right: 15%;

}
.iframe_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
}
.about{
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 10%;
    padding-top: 10%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-content:space-around;
}
.foto-about{
    width: 49%;
    /* margin: 5px; */
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;

}

.contact{
    padding-top: 200px;
}
/* form */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #42B0A3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #42B0A3;
  }
  
  .bg_form {
    border-radius: 5px;
    background-color: #FAFAFA;
    padding-top: 10%;
    
  }
/* form */


@media (max-width:600px) {
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .4rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }     
}
@media (max-width:780px) {
    .container{
        padding-top: 18%;
    }
    .foto-site{
        width: 90%;
    }   
    .description{
        width: 90%;
    }    
    .pic1{
        padding-top: 20%;
    } 
    .cs-banner{
        padding-top: 20%;
    } 
    .home-container{
        padding-top: 35%;
    }
    .logos_contact{
        padding-right: 6%;
        padding-left: 6%;
    
    }
    .foto-about{
        padding-top: 30%;
    
    }
}